:root {
    --A: #28262C;
    --B: #998FC7;
    --C: #D4C2FC;
    --D: #F9F5FF;
    --E: #3949AF;
    --F: #001076;
}

@font-face {
    font-family: Norwester;
    src: url(norwester.otf);
}
@font-face {
    font-family: Nunito;
    src: url(nunito.ttf);
}

html {
    background-color: var(--C);
}



/************************************************************/



.container {
    display: flex;
}

.sidebar-conteudo {
    display: flex;
    width: 100px;
    height: auto;
    background-color: var(--C);
}


.button {
    border-radius: 50px;
    padding: 15px;
    font-size: 34px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 10px;
    color: var(--D);
    text-align: center;
    font-family: Norwester;
    display: inline-block;
    position: relative;
}

.button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.nav {
  background-color: var(--E);
  box-shadow: 3px 5px 5px var(--B);
  border-radius: 50px;
  transition: all .25s ease-in-out;
}
.nav:hover {
  background-color: var(--F);
  width: 150px;
  p {opacity: 1;
     font-size: 18px;}
}
.nav p{
    font-size: 4px;
    opacity: 0;
    white-space: nowrap;
    transition: all .25s ease-in-out;
}

.main {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
}



/************************************************************/



.HMW-background {
    font-family: nunito;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: var(--B);
}

h1 {
    color: var(--F);
    font-size: 100px;
    font-weight: bold;
}

h2 {
    color: var(--E);
    font-size: 80px;
}

h3 {
    color: black;
    font-size: 40px;
}



/************************************************************/



table {
    background-color: var(--C);
    border: 5px solid var(--E);
    display: flex;
    justify-content: space-around;
    text-align: justify;
    font-family: nunito;
}

tr {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

th {
    font-size: 32px;
}

td {
    overflow: scroll;
    margin: 5px 10px 0px 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--B);
    width: 250px;
    height: 100px;
    text-overflow: ellipsis;
    border-radius: 10px;
    /* transition: all .25s ease-in-out; */
}

/*
td:hover {
    height: 150px;
    transform: translate(0px, 5px);
}
*/


/**********************************************************/


.table {
    width: 100%;
    display: flex;
    flex-flow: row;

}

.t-col {
    display: flex;
    flex-flow: column;
    overflow: scroll;
}

.t-header {
    font-size: 32px;
    text-align: center;
    width: fill-available;
    background-color: var(--E);
}




.t-cell {
    overflow: scroll;
    margin: 5px 10px 5px 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--B);
    width: 250px;
    height: 50px;
    text-overflow: ellipsis;
    border-radius: 10px;
    transition: all .25s ease-in-out; 

}


.t-cell:hover {
    height: 150px;
    overflow: scroll;
    transform: translate(0px, 5px);
}


.t-reff {
    text-align: bottom;
    
}


/*********************************************************/

#Tabela-Analise-Competitiva {
    width: 1000px;
    height: 700px;
}